{% extends 'quizzy/index_base.html' %}
{% block body_block %}
<div class="container text-center">
    <div class="form-container">
        <div>
            <h1 class="form-heading">You changed your password</h1>
            <hr class="divider">
            <p>Your password has been changed successfully.</p>
            <a href="{% url 'index' %}">
                <button type="button" class="btn btn-primary">
                    Back
                </button>
            </a>
            <input type="hidden" name="back" value="{{ back }}"/>
        </div>
    </div>
</div>
{% endblock %}