{% extends 'quizzy/index_base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="container text-center">
        <div class="col-lg-12 ">
            <img src="/static/images/QuizzyLogo3-Without-Background.png" height="250"> </a>
            <h1 class="about-heading1">Welcome to Quizzy!</h1>
            <p>Here are some FAQs about this site.</p>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">

            <hr class="divider">

            <h2 class="about-heading2">What is Quizzy?</h2>
            <p>Pub quiz lovers and soon to be pub quiz lovers finally have a place to find new quizzes and pubs in
                Glasgow,
                Edinburgh or Aberdeen. Join us on building a network from quiz lovers for quiz lovers. Add quizzes
                you love.
                Rate quizzes you have been to. Explore new quizzes in your city every week. We will provide you with
                the details,
                so just come and visit us for many quizzy nights to come!</p>

            <h2 class="about-heading2">How do I use Quizzy?</h2>
            <p>Just explore pubs and their quizzes in our available cities or use the search bar if you are
                searching for a specific pub. Click on the pub and see when quizzes take place there or
                use the weekday filter to search for quizzes on particular days.</p>

            <h2 class="about-heading2">Can't find your pub?</h2>
            <p>If your favorite pub and pub quiz are not yet registered on this site, use the "Add pub" function to
                add the pub and its details
                and then the "Add Quiz" function to add some quiz details by yourself. It's easy and just takes 5
                minutes!</p>

            <h2 class="about-heading2">Why can I not add pubs and quizzes and why can I not rate them?</h2>
            <p>In order to rate quizzes or add new content and comments, you need to be a registered user. Just create
                an account
                - it's
                easy! And did you know? If you sign up, you can save your favorite quizzes in your account, leave
                comments and rate the
                quizzes
                you have already been to.</p>

            <hr class="divider">

            <h2 class="about-heading2">Who did this awesome page?!</h2>
            <p>Quizzy is brought to you by <span class="abouttext">The Quizmasters</span>. We are four postgraduate
                students of Glasgow
                University. We love pub quizzes as much as you do and had to google our way through lots and lots of
                – partly awful looking – pages or the pub’s Facebook streams to find the right pub quiz at the right
                time.
                Annoying! So we tried to provide a solution for this.</p>
            <p> A special thanks goes to Gerardo and David for teaching us how to do all of this...</br> </br>
                <span class="abouttext">We finally learned how to Tango with Django!</span></p>

            <hr class="divider">

            <h2 class="about-heading3">Disclaimer</h2>
            <p class="disclaimer"> The information contained in this website is for general information purposes only.
                The information is
                provided by QUIZZY and while we endeavour to keep the information up to date and correct, we
                make no representations or warranties of any kind, express or implied, about the completeness, accuracy,
                reliability, suitability or availability with respect to the website or the information, products,
                services, or related graphics contained on the website for any purpose. Any reliance you place on such
                information is therefore strictly at your own risk.</br></br>

                In no event will we be liable for any loss or damage including without limitation, indirect or
                consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits
                arising out of, or in connection with, the use of this website.</br></br>

                Through this website you are able to link to other websites which are not under the control of QUIZZY.
                We have no control over the nature, content and availability of those sites. The inclusion of any
                links does not necessarily imply a recommendation or endorse the views expressed within them.</br></br>

                Every effort is made to keep the website up and running smoothly. However, QUIZZY takes no
                responsibility for, and will not be liable for, the website being temporarily unavailable due to
                technical issues beyond our control.</br></br>

                Please also note that you are not allowed to upload any protected content (e.g. copyright images).
                It is not allowed to upload content of any sort that infringes any applicable laws to the website.
                The providers of this website are and will not be liable in the case of any damages.
            </p>
        </div>
    </div>


{% endblock %}