{% extends 'quizzy/base.html' %}

{% block title_block %}
Add a quiz to {{ pub.name }}
{% endblock %}

{% block body_block %}
<div class="container text-center">
    <div class="form-container text-center">
        <div class="">
            <h1 class="form-heading">Add a quiz</h1>
            <hr>
        </div>

        <div class="form-spacer">
            <div class="form-group">

                <form id="quiz_form" class="form-group" method="post" action="/quizzy/home/{{ city.slug }}/{{ pub.slug }}/add_quiz/">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label>
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        </label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}